body{
	padding: 20px;
}

.search-form {
  margin-bottom: 20px;
  text-align: center;
}

.photo-card{
	text-align: center;
}

.load-more{
	display: block;
	padding: 7px 15px;
	margin: 20px auto 0;

	font-weight: 700;
	font-size: 16px;

	border-radius: 5px;
	background-color: orange;
	border: 1px solid lightgray;
	cursor: pointer;
}

.load-more:disabled{
	background-color: darkgray;
}